.jdr {
  color:black;
  font-size:40px;
  font-family:Luminari, fantasy;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  background-color:darkred;
  padding:10px;
  text-align: center;
}

table {
  display:block;
  overflow-x:scroll;
  white-space:nowrap;
}

thead {
  background-color:black;
}

.pair {
  background-color:#5BBDBF;
}

.impair {
  background-color:#FF5850;
}

.water {
  border:1px solid black;
  color:white;
}

.earth {
  text-align:center;
  color:white;
}

.père {
  background-color:#535353;
  border:1px solid black;
  padding:5px;
}

.mère {
  background-color:#7c7c7c;
  border:1px solid black;
  padding:5px;
}







h2{
  color: black;
  font-size: 30px;
  font-family: Luminari, fantasy;
}

a:link {
  color: rgb(17, 0, 255)
}

a:visited {
  color: rgb(128, 0, 0)
}

body {
  background-color: saddlebrown;
  padding:50px 250px 100px 250px;
  font-size: 20px;
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted
}

#bandeau{height:100px;background:darkred;}
